# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/*.db
backend/*.json
backend/db_init_data/*.json
backend/__pycache__/
*.py[cod]
backend/config.py
backend/test*
backend/dataGenerator.py
backend/ml_models/akt_model_best.pth
backend/ml_models/akt_model_mappings.json


# Frontend
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env.local
frontend/package-lock.json

# Allgemein
.DS_Store
*.log
.vscode/
.idea/
EOF